@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.selected {
  background-color: #171717;
  border-color: #404040;
  color: #fff;
}

.searchBar {
  border-radius: 35px;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  gap: 10px;
  width: 444px;
  height: 36px;
  left: 416px;
  top: 23px;
  background: #fbfbfb;
}

.bgSearch {
  background: #fbfbfb;
  height: 36px;
}

.table-bb-gray {
  border-bottom: 1px solid #dadada;
}

.table-b-gray {
  border: 0.5px solid #dadada;
}

.input-size {
  width: 85% !important;
}

.Side-spacing {
  width: 50% !important;
}

textarea {
  resize: none;
  overflow: hidden;
}

.modal-max-height {
  max-height: 95% !important;
}

.position-btn {
  position: relative;
  right: 75px;
  background-color: transparent;
  font-size: 20px;
  color: black;
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
  top: 261px !important;
  left: 441px !important;
  width: 16% !important;
}

.bgImage {
  background-image: url('../../public/Group59.png');
  background-size: cover;
  width: 48%;
  height: 100vh;
  background-position: center;
}

.border-number {
  height: 40px;
  border-radius: 100%;
  padding: 9px 17px;
}

.unactive-block {
  background: #cfcfcf;
  color: white;
  height: 40px;
  border-radius: 100%;
  padding: 9px 17px;
}

.active {
  color: black;
  padding: 0px 5px;
  font-weight: 500;
}

.unactive {
  color: #cfcfcf;
  padding: 0px 5px;
  font-weight: 500;
}

.widht-card {
  width: 31%;
}

.height-box {
  height: 80vh;
}

.button-black {
  background-color: #171717 !important;
  color: #fff !important;
  cursor: pointer;
}

.CompleteTabs {
  background-color: #1E9030;
  color: #fff;

}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  color: #171717 !important;
}

.Mui-active-incomplete {
  background-color: #171717 !important;
}

.Mui-active-complete {
  background-color: #1E9030 !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  font-size: 40px;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  font-size: 40px;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #171717 !important;
}

.css-1hv8oq8-MuiStepLabel-label.Mui-completed {
  color: #1E9030 !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #1E9030 !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  font-size: 40px;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}