@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.selected {
  background-color: #171717;
  border-color: #404040;
  color: #fff;
}
.searchBar {
  border-radius: 35px;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  gap: 10px;
  width: 444px;
  height: 36px;
  left: 416px;
  top: 23px;
  background: #fbfbfb;
}
.bgSearch {
  background: #fbfbfb;
  height: 36px;
}
.table-bb-gray {
  border-bottom: 1px solid #dadada;
}
.table-b-gray {
  border: 0.5px solid #dadada;
}
.input-size {
  width: 85% !important;
}
.Side-spacing {
  width: 50% !important;
}
textarea {
  resize: none; 
  overflow: hidden; 
}
